body.dark {
  background-color: #121212;
  color: white;
}

body.light {
  background-color: #ffffff;
  color: black;
}
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #ffa41c;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}